body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex-direction: inherit;
  padding: 5px;
  
  /* background-image: url("image/18403764_10208339393513763_3284591566930209858_o.jpg") url("image/17353523_10207957751892961_8136353179751568555_n.jpg") url("image/28828889_10210453288079806_3279581376359838682_o.jpg"); */
}

footer {
  font: Arial;
}

img {
  /* object-fit: contain;
  max-width:200px;
  max-height:200px; */
  width: 25%;
  opacity: 0.2;
}

/* .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
} */

.logo {
  width: 25%;
  height: auto;
  word-wrap: inherit;
}

.profile_pic {
  width: 25%;
  height: auto;
  word-wrap: inherit;
  opacity: 0.2;
}

.pic2 {
  width: 25%;
  height: auto;
  word-wrap: inherit;
  opacity: 0.2;
}

 .head {
   margin: 5%;
   justify-items: right;
 }

 .social {
   padding-left: 5%;
   margin: 2px;
 }
 .container-fluid {
   border-bottom: 2px;
   border-bottom-color: #02b3e4;
 }


  /* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... }  */