body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
footer {
  font: Arial;
}
.logo {
  width: 25%;
  word-wrap: inherit;
}

.profile_pic {
  width: 25%;
  word-wrap: inherit;
}
.pic2 {
  width: 25%;
  word-wrap: inherit;
}
 .head{
   align-items: flex-start;
   margin: 5%;
 }